@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

.nav-color{
    background-color: #36454F !important;
}

.navfontcolor{
    font-family: Beau Rivage;
    color: aliceblue;
}

body{
    background-color: #b2ffff1f !important;
}

.main-font{
    font-family: Beau Rivage !important;
}

.common-font{
    font-family: Quicksand !important;
}

.bold-text{
    font-weight: bold;
}

.w-100 {
    width: 25% !important;
    height: 75vh;
  }

.button-color{
    background-color: #36454F !important;
}


/*Menu Page*/

#menu .tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
  }

  #beverages {
      justify-content: center !important;
  }

  #menu h2 {
      margin-top: 3rem;
      margin-bottom: 3rem;
  }


  /*Order Online page*/
  #orderOnline img {
    margin-left: 2rem;
    margin-right: 2rem;
    margin: 2rem;
  }

  #orderOnline img {
    transition: transform .2s;
  }

  #orderOnline img:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
  }

  .card {
    height: 75% !important;
  }

